@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 30px;
}

.h2 {
    color: #1F1E1E;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.grid_container {
    color: #FFFFFF;
    max-width: 1120px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;
}

.grid_item {
    aspect-ratio: 1/1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big_item {
    padding: 16px 32px;
}

.grid_item:nth-child(1) {
    background: url('../imgs/1.png') 0 0 no-repeat;
    background-position: right;
    background-size: cover;
}

.grid_item:nth-child(2) {
    background: url('../imgs/2.png') 0 0 no-repeat;
    background-position: left;
    background-size: cover;
}

.grid_item:nth-child(3) {
    background: url('../imgs/3.png') 0 0 no-repeat;
    background-position: right;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/3;
}

.grid_item:nth-child(4) {
    background: url('../imgs/4.png') 0 0 no-repeat;
    background-position: left;
    background-size: cover;
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid_item:nth-child(5) {
    background: url('../imgs/5.png') 0 0 no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 3/5;
    grid-row: 1/3;
}

.grid_item:nth-child(6) {
    background: url('../imgs/6.png') 0 0 no-repeat;
    background-size: cover;
    grid-column: 1/3;
    grid-row: 3/5;
}

.grid_item:nth-child(7) {
    background: url('../imgs/7.png') 0 0 no-repeat;
    background-size: cover;
}

.grid_item:nth-child(8) {
    background: url('../imgs/8.png') 0 0 no-repeat;
    background-size: cover;
}

.grid_item:nth-child(9) {
    background: url('../imgs/9.png') 0 0 no-repeat;
    background-size: cover;
}

.grid_item:nth-child(10) {
    background: url('../imgs/10.png') 0 0 no-repeat;
    background-size: cover;
}

.grid_item_h3 {
    font-weight: 700;
    /* в макете 500 но когда ставлю 500 то нет эффекта - поэтому ставлю 700 */
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
}

.grid_item_p {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.big_item_h3 {
    font-size: 24px;
}

.big_item_p {
    font-weight: 400;
    margin: 15px 0 0 0;
}